<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>L14</display-name>
    <description>Homework 14</description>

    <!--&lt;!&ndash; HW14 path to Spring cfg &ndash;&gt;-->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:SpringBeans.xml</param-value>-->
    <!--</context-param>-->

    <!--&lt;!&ndash; HW14 Spring context load listener &ndash;&gt;-->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ru.otus.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>