<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>L14</display-name>
    <description>Homework 14</description>

    <!-- HW14 path to Spring cfg -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:SpringBeans.xml</param-value>
    </context-param>

    <!-- HW14 Spring context load listener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.otus.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>